@import "tailwindcss";

:root {
	--background: #e4e4e4;
	--main: #0c0c0c;
	--accent: #ffd400;
}

@theme {
	--color-background: var(--background);
	--color-main: var(--main);
	--color-accent: var(--accent);
	--font-inter: "Inter", sans-serif;
}
